.star-svg {
    width: 38px;
    height: 38px;
}

.list-des:hover {
    color: #000
}

.btn-delete {
    background-color: #dc3545;
    border: 1px solid #dc3545;
    color: #fff;
    font-size: 1.8rem;
    padding: 0.5rem 1.5rem;
    transition: all 0.3s;

    &:hover {
        background-color: #e3152a;
    }
}

.course-item {
    padding: 0;

    img {
    height: 150px;
    width: 100%;
}

}


//-----------------------------RESPONSIVE-----------------------------------
@media screen and (max-width: 1024px) {
    .star-svg {
        width: 35px;
        height: 35px;
    }

    .text-right {
        padding: 0;
    }
}

@media screen and (max-width: 768px) {
    .star-svg {
        width: 32px;
        height: 32px;
    }
}

@media screen and (max-width: 600px) {
    .course-content {
        flex-direction: column;
    }
    .text-right {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 1rem;

        p {
            margin: 0.5rem 0;
        }
    }

    .course-item {
        text-align: center;
        margin-bottom: 2rem;
    }
    .course-item img {
        width: 22.5rem;
    }
    .idCourse {
        font-size: 2rem;
    }

    .star-svg {
        width: 40px;
        height: 40px;
    }

    .course-name {
        text-align: center;
    }
    .list-des {
        text-align: center;
    }

}

@media screen and (max-width: 415px) {
    .my-course-title {
        padding: 0 1.8rem;
    }
    .search {
        width: 80%;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}