.detail-carousel {
    position: relative;
    background: url('https://img5.thuthuatphanmem.vn/uploads/2021/09/27/100-background-hoc-tap-dep_045831974.jpg');
    height: 500px;
    background-size: cover;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.545);
        z-index: 1;
    }

    .col-7 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 21rem;
        height: 100%;

        h1 {
            position: relative;
            z-index: 2;
            color: #fff;
            font-size: 5.5rem;

        }

        p {
            z-index: 2;
            color: #fff;
            margin: 2rem 0;
            

            i {
                margin-left: 0.5rem;
                color: rgb(42, 210, 42);
            }
        }

        button {
            bottom: 25px;
            right: 25px;
            background-color: #f2994a;
            color: #fff;
            font-weight: 600;
            padding: 7px 20px;
            border: 1px solid #f2994a;
            border-radius: 1.5rem;
            outline: none;
            z-index: 2;
            width: 11rem;
            transition: all 0.5s;

            &:hover {
                background-color: #d86b0c;
                text-decoration: none;
            }
        }
    }

    .col-5 {
        z-index: 2;
        display: flex;
        align-items: center;
        padding-right: 145px;

        img {
            width: 100%;
            height: 300px;
            border-radius: 3rem;
        }
    }

}

.detail-content {
    padding: 5rem 21rem;

    p {
        margin-top: 3rem;
    }
}

// ===============RESPONSIVE===============
@media screen and (max-width: 1024px) {
    .detail-carousel .col-7 {
        padding-left: 13rem;
    }

    .detail-carousel .col-7 h1 {
        font-size: 5rem;
    }

    .detail-carousel .col-5 {
        padding-right: 10rem;

        img {
            height: 24.5rem;
        }
    }

    .detail-content {
        padding: 5rem 11rem
    }
}

@media screen and (max-width: 768px) {
    .detail-carousel .col-7 {
        padding-left: 4rem;
    }
    .detail-carousel .col-7 h1 {
        font-size: 4.4rem;
    }
    .detail-carousel .col-5 {
        padding-right: 4rem;

        img {
            height: 20rem;
        }
    }
    .detail-content {
        padding: 5rem 9rem
    }
}

@media screen and (max-width: 600px) {
    .detail-carousel {
        height: 400px;
    }
    .detail-carousel .col-7 {
        padding-left: 4rem;
    }
    .detail-carousel .col-7 h1 {
        font-size: 3.3rem;
    }
    .detail-carousel .col-5 {
        padding-right: 4rem;

        img {
            height: 15rem;
        }
    }
    .detail-content {
        padding: 5rem 6rem
    }
}

@media screen and (max-width: 415px) {
    .detail-carousel {
        height: 400px;
    }
    // .detail-carousel .col-7 {
    //     padding-left: 4rem;
    // }
    .detail-carousel .col-7 h1 {
        font-size: 3.4rem;
    }
    .detail-carousel .col-5 {
        display: none;
    }
    .detail-content {
        padding: 5rem 3rem
    }
}

@media screen and (max-width: 400px) {
    .star-svg  {
        width: 32px ;
        height: 32px ;
    }
}









