.user-manage-title {
    h1 {
        margin-top: 3rem;
    }

    h1 a {
        position: relative;
        color: #0c20bb;
        font-weight: 700;
        font-size: 3.5rem;
        transition: all 0.3s;

        &:hover {
            color: #4053e3;
        }

        &::after {
            content: '';
            position: absolute;
            display: block;
            height: 5px;
            background-color: #0c20bb;
            left: 0;
            right: 0;
            bottom: -2px;
            transition: all 0.3s;
        }

        &:hover::after {
            background-color: #4053e3;
        }
    }

    .search {
        border-radius: 25px;
        border: 1px solid #ccc;
        padding: 1rem 2rem
    }

    form {
        margin: 3rem 0 !important;

        .search button {
            border: none;
            background-color: transparent;
        }

        .search button i {
            color: #ccc;
        }

        .search input {
            border: none;
            outline: none;
            margin-left: 1rem;
            font-size: 1.7rem;
            width: 33rem;
            background: transparent;
        }

        .button-find {
            background-color: #4053e3;
            border: 1px solid #4053e3;
            color: #000;
            font-weight: 500;
            width: 8rem;
            border-radius: 8px;
            margin-left: 2rem;
            transition: all 0.3s;

            &:hover {
                background-color: #0f26d3;
            }
        }
    }

}


.table-wrapper {
    overflow-x: auto;
}

.table {
    background: #eee;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;

    thead {
        color: #fff;
        background: #6c7ae0;

        th {
            padding: 2rem 1rem;
        }
    }

    tbody {

        tr {


            td {
                color: #444;
                line-height: 1.2;
                font-weight: 800;
                padding: 2rem 0;
                border-top: 0;
                // border-bottom: 3px solid #f2f2f2;


            }

            .buttons {
                padding: 1rem 0;
                display: flex;
            }

            .btn-ghidanh,
            .btn-sua,
            .btn-xoa {
                width: 83px;
                padding: 10px 4px;
                margin: 0 0.5rem;
                border-radius: 8px;
                font-weight: 500;
                transition: all 0.3s;
                // color: #fff;
            }

            .btn-ghidanh {
                background-color: #16A085;
                border: 1px solid #16A085;

                &:hover {
                    background-color: #09846d;
                }
            }

            .btn-sua {
                background-color: #8CC63F;
                border: 1px solid #8CC63F;

                &:hover {
                    background-color: #67a712;
                }

                a {
                    display: block;

                    &:hover {
                        color: #000;
                    }
                }
            }

            .btn-xoa {
                background-color: #C82647;
                border: 1px solid #C82647;

                &:hover {
                    background-color: #a70827;
                }
            }
        }

        tr:nth-child(odd) {
            background-color: #eee;

            &:hover {
                background-color: #cccccfc0;
                cursor: pointer;
            }
        }

        tr:nth-child(even) {
            background-color: #fff;

            &:hover {
                background-color: #cccccfc0;
                cursor: pointer;
            }
        }
    }
}

//-----------RESPONSIVE------------------
@media screen and (max-width: 1024px) {
    .table tbody tr td {
        padding: 2rem 1rem;
    }

    .paginate-admin {
        display: flex;
    }
}

@media screen and (max-width: 415px) {
    .user-manage-title h1 a {
        font-size: 2.6rem;
    }
}