.header-container {
    border-bottom: 1px solid #ccc;
    .header-logo {
        img {
            width: 15rem;
        }
    }

    .header-name {
        span {
            font-weight: 600;
        }
    }
}

//-----------RESPONSIVE------------------
@media screen and (max-width: 768px) {
    .header-logo h1 {
        margin-left: 0 !important;
        font-size: 1.8rem;
        text-align: center;
        padding: 0 2rem;
    }
    .header-name span {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 600px) {
    .header-logo h1 {
        margin-left: 0 !important;
        font-size: 2rem;
        text-align: center;
    }
}

@media screen and (max-width: 576px) {
    .header-logo h1 {
        margin-left: 0 !important;
        font-size: 2rem;
        text-align: center;
    }
    .header-logo h1 {
        display: none;
    }
    .header-name {
        font-size: 1rem;
    }
}

@media screen and (max-width: 415px) {
    .header-container .header-logo img {
        width: 10rem;
    }
}