.course-category {
    display: flex;
    align-items: center;
    height: 100px;
    background: linear-gradient(#da4453, #89216b);
    color: #fff;
    font-weight: 600;
    font-size: 3.5rem;
    padding: 0 200px;
    margin: 4.7rem 0;
}

// .course-content {
//      p {
//         font-size: 2rem;
//         margin: 3rem 0;
//     }
// }

// ==========RESPONSIVE==========

@media screen and (max-width: 1024px) {
    .course-content,
    .course-category {
        padding: 0 100px;
    }
}

@media screen and (max-width: 600px) {
    .course-content,
    .course-category {
        padding: 0 30px;
    }
}

@media screen and (max-width: 415px) {
    // .course-content,
    .course-category {
        font-size: 3rem;
    }
}






