.left-sidebar {
  background-color: #f2994a;
  border-right: 2px solid #ccc;
  width: 20vw;
  i {
    font-size: 2rem;
  }
  a {
    font-size: 1.6rem;
  }
  li {
    width: 100%;
    padding: 1rem 3rem;
    &:hover {
        background-color: #ccc;
    }
    a {
        transition: all 0.3s;
    }
  }
}

//-----------RESPONSIVE------------------
@media screen and (max-width: 768px) {
  .home-template {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 600px) {
  .home-template {
    display: none;
  }
}

@media screen and (max-width: 415px) {
  .left-sidebar li {
    padding: 1rem;
  }
}
