@font-face {
  font-family: Inter;
  src: url(./assets/fonts/Inter-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: Inter;
  src: url(./assets/fonts/Inter-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Inter;
  /* src: url(./assets/fonts/Inter-Medium.ttf);   */
  src: url(./assets/fonts/Inter-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Inter;
  src: url(./assets/fonts/Inter-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: Inter;
  src: url(./assets/fonts/Inter-Bold.ttf);
  font-weight: 700;
}

html {
    font-size: 62.5%;
}

body {
    padding: 0;
    margin: 0;
    font-family: Inter;
    font-weight: 400;
    font-size: 1.6rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1 {
  margin: 0;
}

li {
  list-style: none;
}

p {
  margin: 0;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  border-radius: 50%;
  background-color: #f2994a;
  border: none;
  z-index: 999999;
  padding: 15px 20px;
}

#btn-back-to-top:hover {
  background-color: #d86b0c;
  color: #fff;
}
