.select-category {
    width: 40rem;
    padding: 1rem;
}

.btn-upload {
    margin-right: 13rem;
    width: 8rem;
    height: 4.8rem;
    background-color: #ea73b4;
    border: 1px solid #ea73b4;
    border-radius: 1rem;
    color: #000;
    font-weight: 500;
}

.input-moTa, .form-ckeditor {
    width: 89%;
}

