.select-category {
    width: 40rem;
    padding: 1rem;
}

.btn-upload {
    margin-right: 13rem;
    width: 8rem;
    height: 4.8rem;
    background-color: #ea73b4;
    border: 1px solid #ea73b4;
    border-radius: 1rem;
    color: #000;
    font-weight: 500;
}

.input-moTa, .form-ckeditor {
    width: 89%;
    height: 100px;
    padding: 1.5rem;
    outline: none;
    font-weight: 500;
}

//-----------RESPONSIVE------------------
@media screen and (max-width: 1024px) {
    .select-category {
        width: 35rem;
    }

    .input-moTa {
        width: 98%;
    }
}

@media screen and (max-width: 768px) {
    .select-category {
        width: 25rem;
    }
}

@media screen and (max-width: 600px) {
    .select-category {
        width: 100%;
    }
}

@media screen and (max-width: 415px) {
    .text-error {
        margin: 0;
    }

    .input-moTa {
        width: 100%;
    }
}

